<div class="navbar navbar-inverse navbar-fixed-top">
      
      <a class="brand" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/img/recode_logo_inv_icon.png' | relative_url }}" width="15" height="15" />
      </a>

      <ul class="nav">
        <li><a href="{{ '/artists' | relative_url }}">Artists</a></li>
        <li><a href="{{ '/translations' | relative_url }}">Translations</a></li>
      </ul>

      <div class="form-inline pull-right">
        <form class="navbar-search" action="/search" method="post">
          <div class="input-append">
            <input class="search-query input-small" name="keyword" type="text" placeholder="" style="text-align: right" />
          </div>
          <!--
          <a href="https://x.com/ReCodeProject" id="nav-twitter" target="_blank">
            <img src="{{ '/assets/img/twitter_dark.png' | relative_url }}" width="25" height="25" style="margin-left: 10px" />
          </a>
          <a href="https://github.com/matthewepler/ReCode_Project" target="_blank">
                            <img src="{{ '/assets/img/github_dark.png' | relative_url }}" width="20" height="20" style="">
                        </a>
                        -->
          <!--
          <a href="mailto:info@recodeproject.com" id="nav-mail" target="_blank">
            <img src="{{ '/assets/img/mail_dark.png' | relative_url }}" style="" />
          </a>
          -->
          <a href="{{ '/license' | relative_url }}" target="_blank">
            <!--
            <img src="{{ '/assets/img/copyright.png' | relative_url }}" width="20" height="20" style="" />
          -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copyright-icon lucide-copyright"><circle cx="12" cy="12" r="10"/><path d="M14.83 14.83a4 4 0 1 1 0-5.66"/></svg>
          </a>
          <a href="{{ '/guide' | relative_url }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-question-mark-icon lucide-circle-question-mark"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
            <!--
            <img src="{{ '/assets/img/questionmark.png' | relative_url }}" width="25" height="25" />
            -->
          </a>
        </form>
      </div>

  </div>
