<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/img/recode_logo_inv_icon.png' | relative_url }}" width="15" height="15" />
      </a>
      <div class="form-inline pull-right">
        <form class="navbar-search" action="/search" method="post">
          <div class="input-append">
            <input class="search-query input-small" name="keyword" type="text" placeholder="" style="text-align: right" />
          </div>
          <a href="https://x.com/ReCodeProject" target="_blank">
            <img src="{{ '/assets/img/twitter_dark.png' | relative_url }}" width="25" height="25" style="margin-left: 10px" />
          </a>
          <!--
          <a href="https://github.com/matthewepler/ReCode_Project" target="_blank">
                            <img src="{{ '/assets/img/github_dark.png' | relative_url }}" width="20" height="20" style="">
                        </a>
                        -->
          <a href="mailto:info@recodeproject.com" target="_blank">
            <img src="{{ '/assets/img/mail_dark.png' | relative_url }}" style="" />
          </a>
          <a href="{{ '/license' | relative_url }}" target="_blank">
            <img src="{{ '/assets/img/copyright.png' | relative_url }}" width="20" height="20" style="" />
          </a>
          <a href="{{ '/guide' | relative_url }}">
            <img src="{{ '/assets/img/questionmark.png' | relative_url }}" width="25" height="25" />
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
