---
layout: base
body_id: artist
---

<div class="row-fluid">
  <div class="span12" name="display" style="margin-top: 50px; margin-bottom: 50px">
    <h2>{{ page.name }}</h2>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">

  <div class="artworks thumbnails">
  {% assign artworks = site.artworks | where: "artist", page.name %}
  {% for a in artworks %}
      {% assign url = "/artworks/" | append: a.slug | relative_url %}
          <div class="thumbnail">
              <a href="{{ url }}"><img src="{{ '/assets/img/' | append: a.photo_link | relative_url }}"></a>
              <div class="caption">
                  <a href="{{ url }}" class="artwork">{{ a.title }}</a>
              </div>
          </div>
  {% endfor %}
  </div>
</div>
