---
layout: base
body_id: translation
---

{%- include translator.html -%}

<div class="sketch-wrapper row-fluid">
  <div id="sketch">
  </div>

  <div id="jscode">
      <div class="buttons">
        <button id="play">Play</button>
        <button id="stop">Stop</button>
      </div>
      <textarea id="code" style="display:none;width: 90%; height: 400px; font-family: monospace; font-size: 14px" readonly>
        {{ page.script }}
      </textarea>
  </div>
</div>

<script type="module">

    import { EditorView, basicSetup } from "https://esm.sh/codemirror@6.0.1";
    import { javascript } from "https://esm.sh/@codemirror/lang-javascript@6.1.7";

    var bFirstLoad = true;

    window.addEventListener('load', () => 
    {
      // Get code
      let codeRaw = document.getElementById("code").value;

      // Remove <textarea>
      document.getElementById("code").remove();

      // Create editor
      const editor = new EditorView({
          doc: codeRaw,
          extensions: [basicSetup, javascript()],
          parent: document.getElementById("jscode")
      });

      // Install UI
      const btnPlay = document.getElementById("play");
      const btnStop = document.getElementById("stop");

      btnPlay.addEventListener("click", _=>{ playSketch(editor.state.doc.toString()) });
      btnStop.addEventListener("click", _=>{ removeSketch() });

      // Play sketch
      playSketch(codeRaw);
    })

    function playSketch(code)
    {
      // Remove iframe ( = clean container)
      let container = document.getElementById('sketch');
      container.innerHTML='';

      // Create iframe
      const iframe = document.createElement("iframe");
      iframe.setAttribute('id', 'sketch-iframe');
      container.appendChild(iframe);

      // Iframe onload => resize canvas
      iframe.addEventListener("load", () => 
      {

        // No margin / padding on iframe document
        const doc = iframe.contentDocument || iframe.contentWindow.document;
        doc.body.style.margin = "0";
        doc.body.style.padding = "0";

        // Check when canvas is here
        /*
        const observer = new MutationObserver(() => 
        {
            const canvas = doc.querySelector("canvas");
            if (canvas) 
            {
              console.log('here')
              observer.disconnect();
              resizeSketch(iframe,canvas);
            }
          });

        observer.observe(doc.body, { childList: true, subtree: true }); 
         */
      });

        const doc = iframe.contentDocument || iframe.contentWindow.document;


      doc.open();
      doc.write(code ? `
      <html>
      <head>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.10/p5.min.js"><\/script>
      </head>
      <body>
          <script>
          const observer = new MutationObserver(() => 
          {
            const c = document.querySelector("canvas");
            if (c) 
            {
              console.log('canvas creation observed');
              observer.disconnect();
              window.parent.resizeSketch();
            }
          });
          observer.observe(document.body, { childList: true, subtree: true }); 
          window.addEventListener("resize", _=>{window.parent.resizeSketch()});
          <\/script>

        <script>${code}<\/script>
      </body>
      </html>
      ` : ``);
      doc.close();
    }

    function removeSketch()
    {
      let container = document.getElementById('sketch');
      container.innerHTML='';
    }

    window.resizeSketch = ()=>
    {
      let iframe = document.getElementById("sketch-iframe");
      let canvas = iframe.contentWindow.document.querySelector("canvas");
      let w= canvas.clientHeight, h=canvas.clientHeight;
      const ratio = h / w;

      // Set the iframe height
      iframe.height = w * ratio + "px";

      // Adjust canvas display
      canvas.style.width = "100%";
      canvas.style.height = "";
    }

</script>
